<h1>Tadpoles</h1>
<% @tadpoles.each do |tadpole| %>
  <div class="card">
    <a href="/tadpoles/<%= tadpole.id %>">
      <img src="https://d1o50x50snmhul.cloudfront.net/wp-content/uploads/2014/04/dn25387-1_800.jpg" alt="Tadpole Picture" height="115" width="175">
    </a>
    <p><a href="/tadpoles/<%= tadpole.id %>"><%= tadpole.name %></a></p>
  </div>
<% end %>