<div class="container">
  <div class="starter-template">
<div class="center-this">
  <img alt="Frog" src="/assets/frog-a7f0c51ded9b463b19b5bdb2cfd71101.jpg">
  <h1>Welcome to Pollywog Ranch!</h1>
  <p>
    <a href="/ponds" class="btn btn-primary">
      View Ponds
    </a>
    <a href="/frogs" class="btn btn-primary">
      View Frogs
    </a>
    <a href="/tadpoles" class="btn btn-primary">
      View Tadpoles
    </a>
  </p>
</div>
</div>
</div>
